
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
    
  .movie-search, .cardfooter {
    background-color: cadetblue !important;
  }
  
  .create-label{
    width: 20% !important;
    background-color: cadetblue;
  }
/* Good to limit descriptions to certain number of lines.*/
  .movie-card-text{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }
  
